name: release

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.MY_RELEASE_TOKEN }}
          config-file: .github/workflows/release-please-config.json
          manifest-file: .github/workflows/.release-please-manifest.json
          release-type: simple
